.select-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 332px;
  margin: 0 auto !important;

  li {
    list-style: none;
    width: 84px;
    height: 56px;
    background-color: #ffffff;
    border: 0.8px solid rgba(218, 218, 218, 0.6);
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    &:hover {
      background-color: #dadada;
      border: none;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  li.active {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #dadada;
    box-shadow: inset 0.622222px 0.622222px 1.24444px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }
  @media screen and (max-width: 622px) {
    width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
    li {
      width: 66px;
      height: 44px;
    }
  }
}
