.brand-card {
  width: 100%;
  position: relative;
  border-radius: 20px;
  // background-color: #2e7cf6;
  height: 405px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
  &:hover {
    border: 1px solid #dadada;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px;
    height: 100%;
  }
  .card-close {
    span,
    span::after,
    span::before {
      background-color: white;
    }
  }
  @media screen and (max-width: 908px) {
    height: 340px;
  }
  @media screen and (max-width: 767px) {
    img {
      position: static;
      padding: 10px;
    }
    height: 213px;
  }
}
.brand-card.add-card {
  background-color: #dadada;
  img {
    padding: 130px;
    @media screen and (max-width: 767px) {
      padding: 20px;
    }
  }
}
