.lk-content {
  margin-top: 13px;
  width: 725px;

  margin-left: 121px;
  @media screen and (max-width: 1508px) {
    margin-left: 70px;
    width: 630px;
  }
  @media screen and (max-width: 1208px) {
    margin-left: 30px;
    width: 600px;
  }
  .lk-content__block {
    padding: 49px 135px 33px 135px;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    border-radius: 20px;
    @media screen and (max-width: 1508px) {
      padding: 49px 85px 33px 85px;
    }
    @media screen and (max-width: 1508px) {
      padding: 49px 45px 33px 45px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
