.main-container {
  // position: relative;
  // animation: darkAnima 0.5s linear backwards;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // background: url("../../assets/img/mainBg.png") no-repeat;
  background-position: center 30%;
  background: rgba(0, 0, 0, 0.9);
  @media screen and (max-width: 767px) {
    background: url("../../assets/img/mainBgMob.png") no-repeat;
    background-position: center 90%;
  }
}

.rules .main-container {
  background: rgba(0, 0, 0, 0.9);
  .main-background__circle7,
  .main-background__circle6,
  .main-background__rect5 {
    display: none;
  }
  .main-background__rect3 {
    top: 80%;
  }
  .main-background__rect2 {
    top: 67%;
  }
}

.dark-container {
  // width: 100%;
  // height: 100%;
  .main-background__rect1 {
    position: absolute;
    border-bottom: 100px solid #fcd876;
    border-right: 100px solid transparent;
  }
  .main-background__rect2,
  .main-background__rect4,
  .main-background__rect3,
  .main-background__rect5 {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 90px solid #fcd876;
  }
  .main-background__rect5 {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-bottom: 130px solid #fcd876;
  }
  .main-background__rect1 {
    top: 160px;
    left: 0;
    transform: rotate(-10deg);
    animation: mainBackground__translate_TL-BR 8s infinite alternate;
  }
  .main-background__rect2 {
    top: 30%;
    left: 10%;
    transform: rotate(15deg);
    border-bottom-color: black;
    animation: mainBackground__translate_TR-BL 8s infinite alternate;
  }
  .main-background__rect3 {
    top: 33%;
    right: 17%;
    transform: rotate(15deg);
    border-bottom-color: #17ca9b;
    animation: mainBackground__translate_TL-BR 7s infinite alternate-reverse;
  }
  .main-background__rect4 {
    top: 7%;
    right: 33px;
    transform: rotate(20deg);
    border-bottom-color: black;
    animation: mainBackground__translate_TR-BL 9s infinite alternate-reverse;
  }
  .main-background__rect5 {
    top: 52%;
    left: 8%;
    transform: rotate(20deg);
    border-bottom-color: #fcd876;
    animation: mainBackground__translate_TR-BL 12s infinite alternate-reverse;
  }
  .main-background__circle1,
  .main-background__circle2,
  .main-background__circle3,
  .main-background__circle5,
  .main-background__circle6,
  .main-background__circle7,
  .main-background__circle4 {
    position: absolute;
    border-radius: 50%;
  }
  .main-background__circle1 {
    top: 370px;
    left: -100px;
    width: 204px;
    height: 224px;
    background: #e9e9e9;
    box-shadow: 0px 4px 10px #ffffff;
  }
  .main-background__circle2 {
    top: 430px;
    right: -90px;
    width: 294px;
    height: 294px;
    background: #979797;
    box-shadow: -4px 4px 10px rgba(183, 183, 183, 0.5);
  }
  .main-background__circle3 {
    top: 290px;
    left: 24%;
    width: 82px;
    height: 82px;
    background: #c4c4c4;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    animation: mainBackground__translate_TR-BL 9s infinite alternate-reverse;
  }
  .main-background__circle4 {
    top: 370px;
    right: 28%;
    width: 70px;
    height: 70px;
    animation: mainBackground__translate_TL-BR 9s infinite alternate;
    background: #fcd876;
  }
  .main-background__circle5 {
    top: 50%;
    left: 40px;
    width: 40px;
    height: 40px;
    animation: mainBackground__translate_TL-BR 9s infinite alternate;
    background: #17ca9b;
  }
  .main-background__circle6 {
    top: 70%;
    left: 10px;
    width: 119px;
    height: 119px;
    animation: mainBackground__translate_TR-BL 9s infinite alternate;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    background: black;
  }
  .main-background__circle7 {
    bottom: 500px;
    right: 10px;
    width: 119px;
    height: 119px;
    animation: mainBackground__translate_TR-BL 9s infinite alternate;
    background: #fcd876;
  }
}

@keyframes mainBackground__translate_TR-BL {
  0% {
    transform: translate(0, 30);
  }
  100% {
    transform: translate(-100px, 150px);
  }
}
@keyframes mainBackground__translate_TL-BR {
  0% {
    transform: translate(-30, 0);
  }
  100% {
    transform: translate(70px, 90px);
  }
}

@keyframes darkAnima {
  0% {
    opacity: 0;
    transform: rotateX(30deg) scale(0.7) translateY(10%);
    // transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: rotateX(0) scale(1) translateY(0);
    // transform: translateY(0);
  }
}

@media screen and (max-width: 767px) {
  .dark-container {
    .main-background__circle1,
    .main-background__circle2,
    .main-background__circle3,
    .main-background__circle4,
    .main-background__circle5,
    .main-background__circle6,
    .main-background__circle7,
    .main-background__rect1,
    .main-background__rect2,
    .main-background__rect3,
    .main-background__rect5,
    .main-background__rect4 {
      display: none;
    }
  }
}
