@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.brand-page__btn-panel {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  width: 60%;
  padding-left: 200px;
  .brand-page__btn {
    padding: 15px 36px;
    height: auto;
    margin: 10px;
  }
  .que_btn {
    box-shadow: unset;
    &:hover {
      background-color: #17ca9b;
    }
  }
}
.add-post .brand-page__btn-panel {
  padding-left: 10%;

  @media screen and (max-width: 933px) {
    padding-left: 40px;
    padding-right: 40px;
    margin: auto;
    width: 100%;
    justify-content: space-between;
  }
  @media screen and (max-width: 856px) {
    display: none;
  }
}
.add-post .brand-page__btn-panel_m {
  display: none;
  background: white;
  justify-content: space-between;
  .brand-page__btn {
    height: 50px;
    background-color: black;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    z-index: 2;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 0;
    width: 33%;
    margin-bottom: 0;
    :nth-child(2) {
      margin: 0 2px;
    }
  }

  @media screen and (max-width: 856px) {
    display: flex;
  }
}
.add-post .brand-page__row {
  img {
    width: 35px;
    height: 35px;
    @media screen and (max-width: 1080px) {
      width: 30px;
      height: 30px;
    }
  }
}
.add-post .brand-page__slider-item img {
  padding: 0;
  height: auto;
  position: static;
  margin: auto;
}
.brand-page__name-input {
  height: 60px;
  max-width: 200px;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  outline: none;
  margin-bottom: 50px;
}
.brand-page__row-input {
  max-width: 50px;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  outline: none;
  font-size: 12px;
  &::placeholder {
    font-size: 12px;
  }
}
.brand-page__descr-input {
  width: 100%;
  min-height: 400px;
  padding: 10px;
}
.add-post .brand-page__slider-item_add {
  background-color: #c4c4c4;
  background-image: url("../assets/img/addBrand.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.add-post .brand-page__row {
  @media screen and (max-width: 460px) {
    flex-direction: column;
    & > * {
      margin-bottom: 20px;
    }
  }
}

.add-post .brand-page__content {
  .brand-page__brand .brand-page__row-input {
    max-width: 150px;
  }
}
.add-post .brand-page__slider {
  margin-bottom: 70px;
  .slick-dots {
    position: static;
    width: auto;
    margin: auto;
  }
  .slick-arrow.slick-next {
    right: -60px;
    @media screen and (max-width: 1551px) {
      right: -25px;
    }
  }
}
