.faq-page {
  .main-container {
    background-position: center 74%;
    @media screen and (max-width: 1140px) {
      // background-position: center 120%;
    }
    @media screen and (max-width: 767px) {
      background: rgba(0, 0, 0, 0.9);
    }
    .main-background__rect1,
    .main-background__rect5,
    .main-background__rect3,
    .main-background__rect4,
    .main-background__circle4,
    .main-background__circle6,
    .main-background__circle7 {
      display: none;
    }
  }
  .faq-page__content {
    margin-top: 55px;
    padding-left: 200px;
    padding-right: 200px;
    a {
      margin-bottom: 50px;
      img {
        margin: auto;
        width: 183px;
        height: 195px;
      }
    }
    .faq-page__title {
      font-weight: bold;
      font-size: 40px;
      line-height: 49px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      margin: auto;
      @media screen and (max-width: 1124px) {
        font-size: 34px;
      }
      @media screen and (max-width: 767px) {
        font-size: 18px;
        line-height: 125.34%;
      }
    }
    @media screen and (max-width: 767px) {
      padding-left: 30px;
      padding-right: 30px;
      margin-top: 20px;
    }
    .faq-page__descr {
      display: none;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      margin-top: 10px;
      color: rgba(255, 255, 255, 0.7);

      @media screen and (max-width: 767px) {
        display: block;
      }
    }
  }

  .wtf-block {
    .wtf-block__steps {
      justify-content: center;
    }
    .step-card {
      cursor: pointer;
      margin: 10px;
      p {
        font-weight: normal;
        font-size: 25.5027px;
        line-height: 125.34%;
        text-align: center;
        color: #000000;
      }
      &:hover {
        background: #f7f5f5;
      }
    }
    .faq__collapse {
      width: 70%;
      margin-top: 70px;
      background-color: transparent;
      .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
        display: flex;
        align-items: center;
        border: 3px solid black;
        border-radius: 50%;
        justify-content: center;
        width: 48px;
        height: 48px;
        padding: 0;
      }
      .ant-collapse-item-active .ant-collapse-header {
        color: #17ca9b;
        &:hover {
          color: #17ca9b;
        }
      }
      .ant-collapse-content-box {
        p {
          font-weight: normal;
          font-size: 30px;
          line-height: 121%;
          text-align: start;
          color: #5f6367;
          margin-left: 65px;
          margin-bottom: 10px;
        }
      }
      .ant-collapse-item {
        border-bottom: unset;
      }
      .ant-collapse-header {
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        span {
          margin-right: 20px;
          position: static;
        }
        color: #737373;
        &:hover {
          color: #5f6367;
        }
      }
      @media screen and (max-width: 1140px) {
        width: 95%;
      }
      // @media screen and (max-width: 767px) {
      //   width: 95%;
      // }
    }

    @media screen and (max-width: 767px) {
      display: flex;
      .step-card {
        height: 330px;
        .step-card__img-container {
          margin-top: 0;
          img {
            height: 160px;
          }
        }
      }
    }
    @media screen and (max-width: 480px) {
      width: 55%;
      margin-top: 30px;
      // flex-direction: column;
      .ant-collapse-item {
        width: 320px;
      }
      .faq__collapse {
        margin-left: -60px;
        width: 320px;
        .ant-collapse-header {
          font-size: 19px;
          line-height: 29px;
        }
        .ant-collapse-content-box p {
          font-size: 15px;
          margin-left: 10px;
          margin-bottom: 10px;
        }
      }
      .step-card {
        height: 141px;
        width: 90px;
        padding: 15px;
        p {
          font-size: 12px;
          line-height: 15px;
          text-align: center;
          color: rgba(0, 0, 0, 0.7);
        }
        .step-card__img-container {
          margin-top: 0;
          img {
            height: 84px;
          }
        }
      }
      .ant-collapse-content-box p {
      }
      .ant-collapse-header {
      }
    }
  }
}
