@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.rules-slides .rules-slides__slider-container {
  margin: auto;
  width: 500px;
  margin-top: 50px;

  @media screen and (max-height: 880px) {
    width: 400px;
  }
  @media screen and (max-height: 778px) {
    width: 350px;
  }
  @media screen and (max-height: 710px) {
    margin-top: 30px;
  }
  & > p {
    margin-bottom: 40px;
    width: 100%;
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
  }
  .slick-dots li {
    width: 40px;
    height: 5px;
    background: rgba(196, 196, 196, 0.4);
    border-radius: 5px;
  }
  .slick-dots .slick-active {
    background: #17ca9b;
  }
  .slick-arrow.slick-disabled {
    display: none !important;
  }
  .slick-arrow {
    z-index: 2;
    height: 80px;
    width: 80px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 6px solid #000000;
    background: white;
    &:hover {
      background: #202124;
      border: 5px solid #000000;
      .arrow-info-top,
      .arrow-info-bottom {
        background: white;
      }
    }
    &::before {
      display: none;
    }
  }
  .slick-arrow.slick-next {
    right: -125px;
  }
  .slick-arrow.slick-prev {
    left: -125px;
  }
  @media screen and (max-width: 767px) {
    .slick-arrow {
      display: none !important;
    }
  }
  @media screen and (max-width: 670px) {
    margin-top: 30px;
    width: 300px;
    .slick-arrow {
      display: none !important;
    }
    & > p {
      font-size: 32px;
      line-height: 125.34%;
      color: #ffffff;
    }
  }
}

.rules-slide {
  z-index: 10;
  color: white;
  width: 495px;

  .rules-slide__img-container {
    // background: #dadada;
    // height: 566px;\
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;

    img {
      height: 100%;
      width: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
    }
  }
  @media screen and (max-width: 670px) {
    .rules-slide__img-container {
      // height: 440px;
    }
  }
}
