.rules {
  max-height: 100vh;
  overflow-y: hidden;
  .rules-bg__item_1 {
    position: absolute;
    top: 300px;
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #17ca9b;
    @media screen and (max-width: 767px) {
      display: block;
    }
  }
  .rules-bg__item_2 {
    position: absolute;
    top: 450px;
    width: 108px;
    height: 165px;
    border-radius: 50%;
    background-color: #ffc107;
    right: -70px;
    transform: rotate(-15deg);
    display: none;
    @media screen and (max-width: 767px) {
      display: block;
    }
  }
  .rules-bg__item_3 {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid #c4c4c4;
    top: 500px;
    left: -8px;
    display: none;
    @media screen and (max-width: 767px) {
      display: block;
    }
  }
  .main-block {
    padding-top: 80px;
    position: relative;

    & * {
      z-index: unset;
    }
    @media screen and (max-height: 867px) {
      padding-top: 40px;
    }
    @media screen and (max-width: 767px) {
      padding-top: 8vh;
      min-height: calc(100vh - 67px);
    }
    @media screen and (max-width: 610px) {
    }
    @media screen and (max-width: 520px) {
      padding-top: 11vh;
      @media (max-height: 590px) {
        padding-top: 8vh;
      }
      @media (max-height: 565px) {
        padding-top: 4vh;
      }
    }
  }
  .main-block__img-container {
    background: url("../assets//img/RulesBgg.svg");
    // shape-image-threshold: 1;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    margin-top: 40px;
    // width: 607px;
    width: 549px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 125.34%;
      text-align: center;
      color: #ffffff;
      max-width: 245px;
      padding-top: 70px;
    }
    .main-block__img-play {
      margin-top: 20px;
      z-index: 2;
      &:hover {
        img {
          opacity: 0.6;
        }
      }
    }

    @media screen and (max-width: 767px) {
      margin-top: 20px;
      height: 480px;
      width: 453px;
      p {
        font-size: 15px;
        padding-top: 50px;
      }
      .main-block__img-play {
        margin-top: 0;
        img {
          position: static;
        }
      }
    }
    @media screen and (max-width: 520px) {
      height: 281px;
      width: 350px;
      p {
        font-size: 12px;
        max-width: 166px;
        padding-top: 55px;
        line-height: 150%;
      }
      .main-block__img-play img {
        padding: 0;
        height: 40px;
        width: 40px;
      }
    }
  }
  .main-block__alien {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -205px;
    z-index: 1;
    img {
      margin-left: -55px;
      width: 96vh;
    }
    @media screen and (min-width: 767px) {
      @media screen and (max-height: 980px) {
        margin-top: -155px;
        img {
          width: 73vh;
          margin-left: -36px;
        }
      }
      @media screen and (max-height: 935px) {
        margin-top: -177px;
      }
      @media screen and (max-height: 867px) {
        margin-top: -179px;
      }
      @media screen and (max-height: 805px) {
        margin-top: -200px;
      }
    }
    @media screen and (max-width: 840px) {
      img {
        margin-left: -40px;
      }
    }
    @media screen and (max-width: 767px) {
      margin-top: -150px;
      bottom: -34vh;

      width: 670px;
      position: absolute;
      img {
        margin-left: -16px;
        width: 65vh;
      }

      @media (max-height: 783px) {
        bottom: -38vh;
        // img {
        //   width: 60vh;
        // }
      }
      @media (max-height: 722px) {

        img {
          width: 63vh;
        }
      }
      @media (max-height: 679px) {
        bottom: -34vh;
        img {
          width: 55vh;
        }
      }
      @media (max-height: 644px) {
        img {
          // width: 57vh;
        }
      }
      @media (max-height: 622px) {
        img {
          width: 52vh;
        }
      }
      @media (max-height: 533px) {
        img {
          width: 49vh;
        }
      }
    }
  }
}
