.test-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  .add-page__title {
    text-align: center;
    color: white;
    z-index: 1;
    @media screen and (min-width: 1366px) {
      color: black;
    }
    @media screen and (min-width: 767px) {
      margin-bottom: 70px;
    }
  }
  .test-solo-slide {
    width: 360px;
    height: 360px;
    margin: auto;
  }
  .helped-container {
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    position: absolute;
    .helped-container__img {
      position: fixed;
      animation: slides forwards linear 4s;
    }
    .helped-container__img_m {
      position: fixed;
      animation: slides_m forwards linear 4s;
    }
    .helped-container__img_second {
      position: fixed;
      animation: click forwards linear 3s;
      @media screen and (max-width: 767px) {
        width: 60px;
        height: 60px;
      }
    }
  }
  .archive-background {
    // display: none;
    position: absolute;
    @media screen and (max-width: 1366px) {
      display: block;
      .archive-background__item_main {
        width: 164%;
        position: absolute;
        height: 530px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.95);
        top: -242px;
        transform: translateX(-19%);
      }
    }
    @media screen and (max-width: 1085px) {
      .archive-background__item_main {
        height: 490px;
      }
    }
  }
}
@keyframes click {
  0%,
  10%,
  29% {
    opacity: 0;
    display: none;
  }
  30%,
  60%,
  80% {
    display: block;
    opacity: 1;
    transform: unset;
  }
  70% {
    transform: scale(0.7);
  }
  100% {
  }
}
@keyframes slides {
  0%,
  10%,
  29% {
    opacity: 0;
    display: none;
  }
  30% {
    display: block;
    opacity: 1;
    transform: unset;
  }
  35% {
    transform: translateX(50px);
  }
  50% {
    transform: translateX(-200px);
  }
  65% {
    transform: translateX(50px);
  }
  80% {
    transform: translateX(-200px);
  }
  95% {
    transform: translateX(50px);
  }
  100% {
  }
}
@keyframes slides_m {
  0%,
  10%,
  29% {
    opacity: 0;
    display: none;
  }
  30% {
    display: block;
    opacity: 1;
    transform: unset;
  }
  35% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(-150px);
  }
  65% {
    transform: translateY(100px);
  }
  80% {
    transform: translateY(-150px);
  }
  95% {
    transform: translateY(100px);
  }
  100% {
  }
}
.test-content {
  width: 100%;
  // max-width: 1522px;
  max-width: 1792px;
  margin: auto;
  display: block;
  z-index: 1;
  @media screen and (max-width: 1805px) {
    max-width: 1522px;
  }
  @media screen and (max-width: 1586px) {
    max-width: 1322px;
  }
  @media screen and (max-width: 1350px) {
    max-width: 1200px;
  }

  @media screen and (max-width: 1280) {
    display: none;
  }
  // @media screen and (max-width: 1230px) {
  //   max-width: 1100px;
  // }
  // @media screen and (max-width: 767px) {
  //   display: none;
  // }
}

.arrow-info {
  display: flex;
  cursor: pointer;
  height: 36px;
  width: 18px;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.arrow-info-top,
.arrow-info-bottom {
  background: black;
  height: 4px;
  width: 18px;
}

.arrow-info_next {
  .arrow-info-top {
    margin-bottom: -5px;
    transform: rotate(45deg);
    transform-origin: bottom right;
  }
  .arrow-info-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
  }
}

.arrow-info_prev {
  .arrow-info-top {
    margin-bottom: -6px;
    transform: rotate(-35deg);
    transform-origin: top left;
  }
  .arrow-info-bottom {
    transform: rotate(45deg);
    transform-origin: bottom left;
  }
}

@keyframes nextSlideCenter {
  0% {
    // transform: perspective(900px) rotate3d(0, -2, 3, -19deg);
    transform: none;
  }
  50% {
    transform: perspective(900px) rotate3d(0, -2, 3, -19deg);
  }
  100% {
    transform: none;
  }
}
@keyframes nextSlideActive {
  0% {
    // transform: perspective(900px) rotate3d(0, -2, 3, -19deg);
    transform: none;
  }
  50% {
    transform: none;
    transform: perspective(900px) rotate3d(0, -2, 3, -19deg);
  }
  100% {
    transform: none;
    // transform: perspective(900px) rotate3d(0, -2, 3, -19deg);
  }
}

.test-page__mobile-content {
  // display: none;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-bottom: 0;
  .add-page__alien {
    img {
      margin: auto;
    }
  }
  .brands-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    @media screen and (min-width: 570px) {
      justify-content: space-evenly;
    }
  }
  .brands-list__item {
    margin-bottom: 25px;
    width: 45%;
    height: calc((100vw - 40px) * 0.45);
    &:nth-child(2n) {
      margin-top: 20px;
    }
    .test-slide {
      height: 100%;
    }
    @media screen and (min-width: 570px) {
      height: calc((100vw - 40px) * 0.35);
      width: 35%;
      .test-slide .test-slide__brand-logo {
        height: 99px;
        right: -12px;
        top: -22px;
        width: 100px;
      }
    }
  }

  @media screen and (max-width: 1366px) {
    padding-top: 60px;
    display: flex;
    .add-page__alien {
      width: 120px;
      height: 127px;
      position: relative;
      z-index: 3;
      img {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  @media screen and (max-width: 1085px) {
    padding-top: 40px;
  }
  @media screen and (max-width: 997px) {
    padding-top: 20px;
  }
}

// доп. стилизация слайдера
.test-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  // убирает баг с выделением текста
  &,
  & * {
    user-select: none !important;
  }
  .swiper-container {
    padding: 120px 55px;
    padding-bottom: 10px;
    @media screen and (max-width: 1586px) {
      padding: 80px 60px;
      padding-bottom: 0;
      padding-bottom: 10px;
    }
    @media screen and (max-width: 1230px) {
      padding: 80px 15px;
      padding-bottom: 0;
      padding-bottom: 10px;
    }
  }
  .swiper {
    &-slide {
      width: 38%;
      opacity: 0;
      height: 421px;
      border-radius: 20px;
      transition: 0.3s ease;
      &-prev,
      &-next {
        filter: blur(10px);
      }
      &-active,
      &-prev,
      &-next {
        opacity: 1;
        height: 520px;
        @media screen and (max-width: 1805px) {
          height: 420px;
          .test-slide {
            padding-bottom: 60px;
          }
        }
        @media screen and (max-width: 1586px) {
          height: 358px;
        }
      }
      .test-slide__brand-logo {
        // transform: translate(25%, -92%);
      }
      @media screen and (max-width: 991px) {
        height: 360px;
      }
      @media screen and (max-width: 891px) {
        width: 45%;
      }
    }
    &-container {
      margin: 0 55px;
      @media screen and (max-width: 1200px) {
        & {
          margin: 0 20px;
        }
      }
    }
    &-button-next,
    &-button-prev {
      height: 75px;
      min-width: 75px;
      display: flex;
      border-radius: 50%;
      border: 5px solid #000;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      cursor: pointer;
      transition: 0.3s;
      background-color: transparent;
      &:hover,
      &:focus {
        background-color: #202124;
        .arrow-info * {
          background-color: #fff;
        }
      }
      @media screen and (max-width: 1200px) {
        transform: scale(0.6);
        transform-origin: center;
      }
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 40px;
    .swiper-pagination-bullet {
      height: 20px;
      width: 20px;
      background-color: #c4c4c4;
      margin: 0 8px;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        background: #b0b0b0;
      }
      &-active {
        background-color: #17ca9b;
        &:hover {
          background: #17af87;
        }
      }
    }
  }
}
