.transfer-page {
  .donate-block__input-summ-block {
    margin-bottom: 0;
  }

  .lk-content {
    padding: 0 20px;
    position: relative;
    margin-left: 0;
    background: white;
    position: initial;
    .lk-content__block {
      padding-left: 0;
      padding-right: 0;
    }
    .watch-block {
    }
    .donate-block {
      .donate-block__select-card li {
        width: 70px;
        height: 50px;
        &:nth-child(3) {
          background-size: 50%;
        }
      }
    }
  }
}
