.header {
  height: 95px;
  width: 100%;
  top: 0;
  z-index: 5;
  position: sticky;
  display: flex;
  align-items: center;
  background-color: #fff;

  // animation: headerAnima 1s backwards;
  & > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__block {
    display: flex;
    align-items: center;
  }
  .header__name {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    letter-spacing: 0.25px;
    color: #000000;
    width: 100%;
  }
  .header__burger {
    display: none;
    align-items: center; /* центрируем содержимое кнопки */
    position: absolute;
    top: 25px;
    right: 20px;
    width: 27px;
    height: 19px;
    cursor: pointer;
    z-index: 10;
    & > span,
    & > span::before,
    & > span::after {
      display: flex;
      position: absolute;
      justify-content: flex-end;
      width: 100%;
      height: 2px;
      background-color: black;
    }
    & > span::before {
      content: "";
      top: -8px;
    }
    & > span::after {
      content: "";
      width: 70%;
      top: 8px;
    }
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .header__burger-menu {
    position: absolute;
    display: none;
    // animation: mobileMenuOpen 0.5s backwards;
    height: calc(100vh - 7px);
    width: 85%;
    top: 0px;
    overflow-y: scroll;
    left: 0;
    background: #fffefe;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 60px 40px;
    z-index: 10000;
    .menu-balance {
      position: absolute;
      top: 120px;
      left: 35px;
      display: flex;
      align-items: center;
      padding: 5px;
      min-width: 61px;
      height: 26.62px;
      background: #ffffff;
      border: 1.10909px solid #e3e3e3;
      border-radius: 66.5455px;
      p {
        font-style: normal;
        font-weight: 500;
        font-size: 15.5273px;
        line-height: 19px;
        letter-spacing: 0.0409739px;
        color: #000000;
      }
      img {
        margin-right: 7px;
      }
    }
    li {
      padding: 17px 0;
      position: relative;
      display: flex;
      align-items: center;
      &:nth-child(1) {
        & a::before {
          display: none;
        }
      }
      &:nth-child(2) {
        margin-bottom: 80px;
        padding-bottom: 0;
        padding-top: 0;
        a {
          padding-left: 0;
        }
        & a::before {
          display: none;
        }
      }

      &:nth-child(4) {
        display: none;
        @media screen and (max-width: 767px) {
          display: flex;
        }
      }
      a {
        &::before {
          content: "";
          position: absolute;
          width: 3px;
          height: 100%;
          left: 0;
          background: #ededed;
        }
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
        padding-left: 15px;
      }
      a.active {
        font-weight: bold;
        &::before {
          background-color: #17ca9b;
        }
      }
    }
    .header__burger-menu-logon {
      margin-top: 60px;
      .header__profile-block {
        display: flex;
        .header__profile-img {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.95);
        }
        .header__profile-text-block {
          margin-left: 15px;
          font-weight: normal;
          .header__profile-name {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            cursor: pointer;
          }
          .header__profile-exit {
            cursor: pointer;
            font-size: 12px;
            line-height: 17px;
            margin-top: 8px;
            color: rgba(0, 0, 0, 0.6);
          }
        }
      }
      .header__logon-login {
        display: flex;
        align-items: center;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        p {
          margin-left: 10px;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          color: #000000;
        }
      }
      .header__logon-reg {
        font-size: 12px;
        line-height: 163.4%;
        text-decoration-line: underline;
        color: rgba(0, 0, 0, 0.5);
        margin-left: 28px;
      }
    }
    .header__close-menu-btn {
      // padding-bottom: 0;
      display: flex; /* используем flex для центрирования содержимого */
      align-items: center; /* центрируем содержимое кнопки */
      position: absolute;
      top: 31px;
      right: 20px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      z-index: 10;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      &:hover {
        // background-color: rgb(61, 61, 61);
        span,
        span::before,
        span::after {
          background-color: rgb(61, 61, 61);
        }
      }
      span,
      span::before,
      span::after {
        display: flex;
        position: absolute;
        justify-content: flex-end;
        width: 100%;
        height: 2px;
        background-color: black;
      }
      span {
        transform: rotate(45deg);
      }
      span::before {
        content: "";
        top: 0;
        transform: rotate(0);
      }
      span::after {
        content: "";
        top: 0;
        transform: rotate(90deg);
      }
    }
  }
  .header__logo {
    height: 30px;
    img {
      height: 100%;
    }
  }
  .header__nav {
    display: block;
    ul {
      padding-left: 0;
      display: flex;

      margin-bottom: 0;
    }
    li {
      list-style: none;
      transition: 0.5s;
      @media screen and (min-width: 768px) {
        &:nth-child(2) {
          display: none;
        }
      }
      a {
        margin-right: 30px;
        font-size: 20px;
        line-height: 219%;
        color: rgba(0, 0, 0, 0.9);
        position: relative;
        overflow-x: hidden;
        &::before {
          transition: 0.2s;
          position: absolute;
          content: "";
          bottom: 0;
          width: 0;
          border-bottom: 1px solid #000;
        }
        @media screen and (min-width: 768px) {
          &:hover::before {
            width: 100%;
          }
        }
      }
      a.active {
        font-weight: bold;
      }
    }
  }
  .header__logon {
    display: flex;
    .ant-dropdown-trigger.ant-dropdown-link {
      &:hover .header__profile-name {
        color: #17ca9b;
      }
    }
    .header__profile-img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.95);
    }
    .header__profile-name {
      margin-left: 13px;
      font-weight: bold;
      transition: 0.3s;
      font-size: 16px;
      line-height: 219%;
      display: flex;
      align-items: center;
      color: #000000;
    }
    .header__logon-btn {
      height: 45px;
      padding: 3px 15px;
      border: 1px solid #000000;
      box-sizing: border-box;
      border-radius: 60px;
      min-width: 122px;
      @media screen and (min-width: 768px) {
        &:hover {
          background-color: #17ca9b;
          color: white;
          border: 1px solid #17ca9b;
        }
      }
    }
    .header__logon-btn + .header__logon-btn {
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: 1515px) {
  .header .header__nav {
    li a {
      font-size: 16px;
    }
  }
  .btn-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 1085px) {
  .header {
    height: 67px;
    .container {
      justify-content: center;
      .header__logo {
        margin-right: 0;
      }
    }
    .header__burger {
      display: flex; /* используем flex для центрирования содержимого */
    }
    .header__burger-menu.menu-open {
      display: block;
    }
    // .header__nav,
    // .header__logon,
    .header__block {
      display: none;
    }
  }
}

// .header .container {
//   position: relative;
//   .header__logo,
//   .header__nav li,
//   .header__logon-btn {
//     transform-origin: left;
//     // animation: headerAnimaElem 1.4s backwards;
//   }
// }
@keyframes mobileMenuOpen {
  0% {
    left: -400vw;
  }
  100% {
    left: 0;
  }
}
@keyframes headerAnima {
  0%,
  70% {
    left: -300vh;
  }
  100% {
    left: 0;
  }
}

@keyframes headerAnimaElem {
  0% {
    display: none;
  }
  50% {
    transform: rotate(0) scale(0);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
