.MuiOutlinedInput-root {
  border: none;
  .MuiOutlinedInput-notchedOutline {
    border: 0.8px solid #dadada;
    border-radius: 25px;
    padding-left: 30px
  }
}
.auth-form-block .MuiInputLabel-formControl {
  left: 22px;
}

.auth-form-block {
  width: 456px;
}
.auth-form-block__input {
  width: 100%;
  margin-bottom: 10px;
}
