.MuiOutlinedInput-root {
  border: none;
  .MuiOutlinedInput-notchedOutline {
    border: 0.8px solid #dadada;
    border-radius: 25px;
    padding-left: 30px;
  }
}

.auth-form-block .MuiOutlinedInput-root.Mui-focused {
  .MuiOutlinedInput-notchedOutline {
    border-color: #dadada;
  }
}
.auth-form-block .MuiInputLabel-formControl {
  left: 22px;
}

